    html, body {
      height: 100%;
      margin: 0;
      background-color: #f8f9fa;
      display: flex;
      flex-direction: column;
      font-family: "Roboto", sans-serif;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
      font-variation-settings:
      "wdth" 100;
    }
body {
    position: relative;
    min-height: 100vh;

    background: 
        linear-gradient(rgba(255,255,255,0.55), rgba(255,255,255,0.55)),
        url("../img/Reportes.png") center center / cover no-repeat fixed;
}


    /* Header */
    .digisalud-header {
      /*background: #2D008A;
      background: linear-gradient(90deg, rgba(45, 0, 138, 1) 0%, rgba(5, 173, 67, 1) 50%, rgba(17, 212, 134, 1) 100%);
      */ 
      background: #101a61;
background: linear-gradient(90deg,rgba(16, 26, 97, 1) 0%, rgba(16, 16, 133, 1) 35%, rgba(0, 212, 255, 1) 100%);
      color: white;
      padding: 10px 0;
      text-align: center;
    }

    .logo {
      height: 3rem;
    }

    /* Centrado del formulario */
    .login-container {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2rem;
    }

    .login-card {
      background: white;
      padding: 2rem;
      border-radius: 1rem;
      box-shadow: 0 4px 15px rgba(0,0,0,0.1);
      width: 100%;
      max-width: 400px;
    }

    /* Sección inferior (crear cuenta / políticas) */
    .extra-links {
      text-align: center;
      margin-top: 1.5rem;
      font-size: 0.9rem;
    }

    .extra-links a {
      color: #4949be;
      text-decoration: none;
      font-weight: 500;
    }

.extra-links a:hover {
  text-decoration: underline;
}
  
    footer {
      /*background: #2D008A;
      background: linear-gradient(90deg, rgba(45, 0, 138, 1) 0%, rgba(5, 173, 67, 1) 50%, rgba(17, 212, 134, 1) 100%);
*/
background: #101a61;
background: linear-gradient(90deg,rgba(16, 26, 97, 1) 0%, rgba(16, 16, 133, 1) 35%, rgba(0, 212, 255, 1) 100%);
      color: white;
      text-align: center;
      padding: 1rem 0;
    }

    @media (max-width: 576px) {
      .login-card {
        padding: 1.5rem;
        max-width: 95%;
      }
    }
    /*botones primary enter*/
.btn-primary {
  background-color: #101a61;
  border-color: #101a61;
}

.btn-primary:hover {
  background-color: #4949be;
  border-color: #4949be;
}

.btn-secondary {
  background-color: #cacaca;
   border-color: #cacaca;
}

.btn-secondary:hover {
  background-color: #686869;
 
}
.card {
  border-radius: 1rem;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}
.section-title {
  background-color: #101A61;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
}

  .select2-container .select2-selection--single {
  height: calc(2.5rem + 2px);
  padding: 0.375rem 0.75rem;
  border: 1px solid #ced4da;
  border-radius: 0.375rem;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 2.5rem;
  right: 0.5rem;
}